.homepage-list-cont
    .homepage-list-cont-text
        margin: 1rem 0
    .homepage-list-cont-card-cont
        background-color: #161b22
        .card-cont-card
            color: #cccccc
            width: 33rem
            grid-column: 2
            margin-top: 1rem
            .card-cont-card-content
                background-color: #161b22
                padding: 0
                .list-created-by
                    .list-username
                        margin-left: 0.3rem
