.pw-cont
    display: flex
    flex-direction: column
    justify-content: center
    color: #cccccc
    margin-top: 5em
    width: 17em
    .change-pw-btn
        display: flex
        margin: 0 auto
    .account-cont
        display: flex
        flex-direction: column
        width: 17em
        margin-top: 10em
        color: #cccccc
        .movie-cont
            display: flex
            justify-content: center
            flex-direction: column
            width: 14em
            p
                color: #efefef
