@import "../_variables"

.list-main-cont
    display: flex
    flex-direction: column
    margin-top: 5em
    height: 50em
    width: 70rem
    color: #cccccc
    animation: fade 500ms 1 ease-in-out forwards
    .list-wrapper
        display: flex
        justify-content: space-between
        align-items: flex-end
    .list-grid-cont
        display: grid
        margin-top: 2rem
        background-color: $secondary-color
        min-height: 55rem
        gap: 1rem
        padding: 1rem
        grid-template-columns: repeat(auto-fill, 8rem)
        grid-template-rows: repeat(auto-fill, 12.5rem)
