.profile-container
    margin-top: 0
    background-size: cover
    margin-top: 4em
    height: calc( 100vh - 55px )
    animation: fade 500ms 1 ease-in-out forwards
    .profile-container-grid
        background-color: #161b22
        .profile-container-grid-1
            height: 10.5rem
            padding: 0.5rem
            .profile-avatar
                height: 9rem
                width: 9rem
            .profile-container-grid-2
                height: 2rem
                display: flex
                flex-direction: space-between
                .profile-name
                    color: #efefef
                    margin-left: 1rem
            .profile-container-grid-3
                display: flex
                width: 100%
                align-self: flex-end
                color #cccccc
    .profile-details
        color: #cccccc
    .profile-info-container
        display: grid
        grid-template-columns: 60% 40%
        height: 57.7rems
        background-color: #181e26
        padding-top: 1.5rem
    .favorite-container
        width: 25rem
        .favorite-container-card
            .profile-fav-link
                .profile-fav-img
                    height: 15.5rem
                    width: 10rem
                    padding-bottom: 1rem
        .fav-text-cont
            display: flex
            justify-content: space-between
            align-items: center
            .favorite-movies
                padding-bottom: 0.5em
                color: #cccccc
            .fav-edit
                align-self: center
                &:hover
                    cursor: pointer
        .favorite-container-card
            display: grid
            grid-template-columns: repeat(auto-fill, 50%)
            .fav-edit-cont
                margin-bottom: 1em
                .search-fav
                    position: absolute
                    transform: translate(-1rem)
                    background-color: #161b22
                    width: 14rem
                    padding: 0.5rem
                    .search-fav-paper
                        width: 30rem
                        background-color: #161b22
                .fav-remove-icon
                    position: absolute
                    transform: translateX(5.5rem)
                    color: #fff
                    z-index: 1
                    &:hover
                        cursor: pointer
                .fav-edit-card
                    height: 14.5rem
                    width: 10rem
            .fav-add-icon
                position: absolute
                transform: translate(2.3rem, -6.6rem)
                color: #fff
                width: 2rem
                height: 3rem
                &:hover
                    cursor: pointer
