@import url(https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap);
@import url("https://use.typekit.net/yno2wnn.css");
* {
  box-sizing: border-box;
  font-family: nunito, sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes faster {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
html {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  background: #14181c;
}
body .main-page-cont {
  display: grid;
  height: 90vh;
  justify-content: center;
  grid-template-columns: 60% 40%;
  grid-template-rows: repeat(auto-fill, 1fr);
  color: #cccccc;
  animation: fade 500ms 1 ease-in-out forwards;
}
body .main-page-cont .main-page-feed-cont {
  grid-row: 1;
  grid-column: 2;
}
body .main-page-cont .main-page-feed-cont .main-page-user-feed {
  grid-column: 1/2;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #161b22;
  width: 35rem;
  white-space: nowrap;
}
body .main-page-cont .main-page-feed-cont .main-page-user-feed .main-page-user-feed-cont {
  display: grid;
  grid-template-columns: 70% 30%;
  margin-bottom: 0.5em;
  color: #cccccc;
}
body .main-page-cont .main-page-feed-cont .main-page-user-feed .main-page-user-feed-cont .user {
  color: #fff;
}
body .main-page-cont .main-page-feed-cont .main-page-user-feed .main-page-user-feed-cont .user:hover {
  cursor: pointer;
}
body .main-page-cont .main-page-list-container {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  color: #cccccc;
  background-color: #161b22;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 1em;
}
body .main-page-cont .main-page-list-container .list-created-by .list-username {
  color: #fff;
}
body .main-page-cont .main-page-list-container .main-page-list-img-cont {
  display: flex;
}
body .main-page-cont .main-page-list-container .main-page-list-img-cont .main-page-list-img {
  width: 8em;
}
body .list-main-cont {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  height: 50em;
  width: 70rem;
  color: #cccccc;
  animation: fade 500ms 1 ease-in-out forwards;
}
body .list-main-cont .list-grid-cont {
  display: grid;
  margin-top: 2rem;
  justify-content: center;
  background-color: #161b22;
  min-height: 55rem;
  gap: 1rem;
  padding: 1rem;
  grid-template-columns: repeat(auto-fill, 8rem);
  grid-template-rows: repeat(auto-fill, 12.5rem);
}
body .nav {
  display: flex;
  align-items: center;
  padding: 0.2em;
  background-color: #161b22;
  position: fixed;
  width: 100%;
  height: 2.3em;
  top: 0;
  z-index: 1;
}
body .nav .home-link:active {
  height: 1.5em;
}
body .nav .nav-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .nav .notification-icon {
  fill: #f7f7f7;
}
body .nav .notification-icon:active {
  transform: translateY(5%);
}
body .nav .menu-list {
  color: rgb(102, 125, 147);
  background-color: #161b22;
}
body .nav .avatar-container {
  display: flex;
  align-items: center;
  gap: 1em;
}
body .nav img {
  height: 1.2em;
}
body .nav img:hover {
  cursor: pointer;
}
body .nav input {
  border-radius: 0.3em;
  border: none;
  height: 100%;
}
body .nav .search {
  height: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
body .nav a {
  text-decoration: none;
  color: #efefef;
}
body .pw-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #cccccc;
  margin-top: 5em;
  width: 17em;
}
body .pw-cont .change-pw-btn {
  display: flex;
  margin: 0 auto;
}
body .account-cont {
  display: flex;
  flex-direction: column;
  width: 17em;
  margin-top: 10em;
  color: #cccccc;
}
body .main-container {
  display: grid;
  padding: 1em;
  margin-top: 4em;
  justify-content: center;
  animation: fade 500ms 1 ease-in-out forwards;
}
body .main-container .movie-card {
  padding: 0;
  margin-bottom: 1rem;
  height: 15.5rem;
}
body .main-container .movie-card .movie-card-content {
  max-width: 45em;
  max-height: 30em;
  margin-bottom: 1em;
  animation: fade 500ms 1 ease-in-out forwards;
}
body .main-container .movie-card .poster {
  width: 15em;
}
body .main-container .movie-card .movie-poster-link {
  width: 15rem;
}
body .main-container .movie-card .movie-poster-link .movie-card-name {
  margin-top: 1em;
  font-weight: 400;
  margin-bottom: 1em;
}
body .main-container .movie-card .movie-poster-link .card-grid .search-overview {
  padding: 1em;
  justify-content: center;
  color: #CCCCCC;
}
body .main-container .movie-cont {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 14em;
}
body .main-container .movie-cont p {
  color: #efefef;
}
body .form-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
}
body .form-container .landing-font {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 5em;
  color: #cccccc;
  animation: fade 500ms 1 ease-in-out forwards;
}
body .form-container .landing-font .big-login-text {
  font-family: nunito, sans-serif;
  margin-bottom: 0;
  padding-bottom: 0;
}
body .form-container .landing-font .welcome-back {
  display: flex;
  justify-content: center;
  font-family: nunito, sans-serif;
  margin-top: -1em;
  padding-right: 0.5em;
}
body .form-container .landing-font .link {
  display: flex;
  align-items: center;
  font-family: nunito, sans-serif;
  margin-top: -0.75em;
  padding-bottom: 0.3em;
}
body .form-container form {
  display: flex;
  justify-content: center;
  height: 25em;
  gap: 1em;
  color: #efefef;
  background-color: #08090a;
  align-items: center;
  flex-direction: column;
  border-radius: 1em;
  width: 20em;
  animation: fade 500ms 1 ease-in-out forwards;
}
body .form-container form .inpt {
  width: 75%;
  align-self: center;
}
body .form-container form button {
  align-self: center;
  width: 5em;
}
body .form-container button {
  height: 2em;
}
body .cont {
  color: #efefef;
  background-color: #181e26;
  padding: 0;
  animation: fade 500ms 1 ease-in-out forwards;
}
body .cont .cast-crew-cont {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
body .cont .crew-cont, body .cont .actors {
  display: grid;
  grid-template-columns: repeat(2, 20em);
  grid-template-rows: repeat(auto-fit, 1fr);
  margin-top: 1em;
}
body .cont .crew-cont .crew, body .cont .crew-cont .actor-cont, body .cont .actors .crew, body .cont .actors .actor-cont {
  display: flex;
  margin-bottom: 1em;
}
body .cont .crew-cont .crew-avatar, body .cont .crew-cont .actor-avatar, body .cont .actors .crew-avatar, body .cont .actors .actor-avatar {
  height: 2.5em;
  width: 2.5em;
}
body .cont .movie-main {
  display: flex;
  justify-content: center;
  justify-content: center;
  height: 35em;
  overflow: hidden;
}
body .cont .movie-main-information {
  display: flex;
  width: 250em;
  flex-direction: column;
}
body .cont .movie-main-information .genres {
  margin-top: 0.5em;
  display: flex;
  gap: 1em;
  width: 10.3em;
  height: 2.2em;
  white-space: nowrap;
}
body .cont .movie-main-information .genres .genre {
  margin-bottom: 0.2em;
  padding-bottom: 0.5em;
  background-color: #14181c;
  justify-content: center;
}
body .cont .movie-main-information .genres .genre:hover {
  background-color: #171b20;
  cursor: pointer;
}
body .cont .backdrop {
  display: flex;
  justify-self: center;
  width: 100%;
  height: 40em;
}
body .cont .movie-info {
  display: flex;
}
body .cont .movie-info .movie-main-information {
  justify-content: space-between;
}
body .cont .movie-info img {
  margin-top: -2em;
  margin-left: 1.2em;
}
body .cont .movie-info .movie-name {
  font-family: "Lato", sans-serif;
  margin-left: 1em;
  font-weight: 700;
  margin-top: 0.2em;
}
body .cont .movie-info .movie-overview {
  font-family: "Lato", sans-serif;
  color: #d9d9d9;
  margin-left: 2.3em;
  margin-right: 2.3em;
}
body .cont .movie-info .poster-main {
  height: 20em;
}
body .cont .movie-info .watched-watchlist {
  width: 25em;
  display: flex;
  margin-left: 0.6em;
  padding-bottom: 1em;
  color: #CCCCCC;
}

.profile-container {
  margin-top: 0;
  background-size: cover;
  margin-top: 4em;
  height: calc(100vh - 55px);
  animation: fade 500ms 1 ease-in-out forwards;
}
.profile-container .profile-details {
  color: #cccccc;
}
.profile-container .profile-info-container {
  display: grid;
  grid-template-columns: 60% 40%;
  height: 57.7em;
  background-color: #181e26;
  padding-top: 1.5rem;
}
.profile-container .favorite-container {
  width: 25em;
}
.profile-container .favorite-container .favorite-container-card .profile-fav-link .profile-fav-img {
  height: 15.5rem;
  width: 10rem;
  padding-bottom: 1rem;
}
.profile-container .favorite-container .fav-text-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile-container .favorite-container .fav-text-cont .favorite-movies {
  padding-bottom: 0.5em;
  color: #cccccc;
}
.profile-container .favorite-container .fav-text-cont .fav-edit {
  align-self: center;
}
.profile-container .favorite-container .fav-text-cont .fav-edit:hover {
  cursor: pointer;
}
.profile-container .favorite-container .favorite-container-card {
  display: grid;
  grid-template-columns: repeat(auto-fill, 50%);
}
.profile-container .favorite-container .favorite-container-card .fav-edit-cont {
  margin-bottom: 1em;
}
.profile-container .favorite-container .favorite-container-card .fav-edit-cont .search-fav {
  position: absolute;
  transform: translate(-1em);
  background-color: #161b22;
  width: 14em;
  padding: 0.5em;
}
.profile-container .favorite-container .favorite-container-card .fav-edit-cont .fav-remove-icon {
  position: absolute;
  transform: translateX(5.5em);
  color: #fff;
  z-index: 1;
}
.profile-container .favorite-container .favorite-container-card .fav-edit-cont .fav-remove-icon:hover {
  cursor: pointer;
}
.profile-container .favorite-container .favorite-container-card .fav-edit-cont .fav-edit-card {
  height: 14.5rem;
  width: 10em;
}
.profile-container .favorite-container .favorite-container-card .fav-add-icon {
  position: absolute;
  transform: translate(2.3em, -6.6em);
  color: #fff;
  width: 2em;
  height: 3em;
}
.profile-container .favorite-container .favorite-container-card .fav-add-icon:hover {
  cursor: pointer;
}
.profile-container .profile-list-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #181e26;
  animation: fade 500ms 1 ease-in-out forwards;
}
.profile-container .profile-list-cont .btn-new-list {
  justify-self: flex-end;
  align-self: flex-end;
  margin-top: 1em;
  height: 2em;
}
.profile-container .profile-list-cont .no-lists {
  color: #cccccc;
}
.profile-container .profile-list-cont .watched-watchlist-cont {
  display: flex;
  align-self: flex-end;
  margin-top: 1em;
  background-color: #161b22;
}
.profile-container .profile-list-cont .movie-grid-cont {
  display: grid;
  grid-template-columns: repeat(auto-fit, 10em);
  grid-template-rows: repeat(3, 1fr);
  padding-top: 1em;
  gap: 1em;
  height: 52.5em;
  width: 100%;
  animation: fade 500ms 1 ease-in-out forwards;
}
.profile-container .profiles-lists {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(auto-fill, 10em);
  gap: 4rem;
  margin-left: 0.5rem;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.profile-container .profiles-lists .new-list-cont {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 25em;
  gap: 1em;
  background-color: #14181c;
  padding: 1%;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 0;
}
.profile-container .profiles-lists .list-img {
  width: 8.5em;
}
.profile-container .profiles-lists .pagination {
  padding-bottom: 1em;
  justify-content: center;
}

.user-feed-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.user-feed-container .user-feed {
  color: #cccccc;
  padding-bottom: 0.5em;
}
.user-feed-container .user-feed-div {
  background-color: #161b22;
  width: 100%;
}
.user-feed-container .user-feed-div .user-feed-grid {
  background-color: #161b22;
  width: 100%;
}
.user-feed-container .user-feed-div .user-feed-grid .user-feed-mapped-grid {
  display: grid;
  grid-template-columns: 70% 30%;
  margin-bottom: 0.5rem;
}
.user-feed-container .user-feed-div .user-feed-link {
  color: #fff;
  text-decoration: none;
}
.user-feed-container .user-feed-div .user-feed-link .feed-cont {
  grid-column: 1;
  color: #efefef;
  width: 100%;
  height: 2.5em;
}
.user-feed-container .user-feed-div .user-feed-link .feed-cont .profile-link {
  color: #efefef;
  text-decoration: none;
}

.img-form-menu:hover {
  cursor: pointer;
  background-color: #3a3a3a;
}

.movie-card-link-img {
  animation: faster 250ms 1 ease-in-out forwards;
}

.register-page {
  display: flex;
  justify-content: center;
  background-size: cover;
  height: 100vh;
  color: #cccccc;
}
.register-page .form-container {
  width: 63%;
  background-color: black;
  margin-right: 4.5rem;
  height: 32rem;
  margin-top: 2rem;
}
.register-page .form-container .registration-cont {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.register-page .form-container .registration-cont .landing-form > * {
  font-family: nunito, sans-serif;
  width: 20rem;
  animation: fade 500ms 1 ease-in-out forwards;
}

.person-cont {
  margin-top: 5rem;
  color: #cccccc;
  background-color: #181e26;
  padding: 1rem;
}
.person-cont .person-cards {
  display: grid;
  grid-template-columns: repeat(5, 13rem);
  background-color: #161b22;
  justify-content: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.movie-card-link {
  animation: fade 500ms 1 ease-in-out forwards;
}
.movie-card-link:hover {
  outline: 0.1em solid #6d6d6d;
  border-radius: 0.1em;
}

.svg:hover {
  cursor: pointer;
}

@media (max-width: 1920px) {
  body .cont .movie-main {
    height: 24em;
  }
}
@media (max-width: 2550px) {
  .form-container {
    height: 40rem;
  }
}
@media (max-width: 1130px) {
  .cont .movie-main img {
    width: auto;
  }
}

/*# sourceMappingURL=App.css.map */
