@import url(https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap);
@import url("https://use.typekit.net/yno2wnn.css");
* {
  box-sizing: border-box;
  font-family: nunito, sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
html {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  background: #14181c;
  min-height: 100vh;
}
body .main-page-cont {
  display: grid;
  height: 90vh;
  justify-content: center;
  grid-template-columns: 60% 40%;
  grid-template-rows: repeat(auto-fill, 1fr);
  color: #cccccc;
  animation: fade 500ms 1 ease-in-out forwards;
}
body .main-page-cont .main-page-feed-cont {
  grid-row: 1;
  grid-column: 2;
}
body .main-page-cont .main-page-feed-cont .main-page-user-feed {
  grid-column: 1/2;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #161b22;
  width: 35rem;
  white-space: nowrap;
}
body .main-page-cont .main-page-feed-cont .main-page-user-feed .main-page-user-feed-cont {
  display: grid;
  grid-template-columns: 70% 30%;
  margin-bottom: 0.5em;
  color: #cccccc;
}
body .main-page-cont .main-page-feed-cont .main-page-user-feed .main-page-user-feed-cont .user {
  color: #fff;
}
body .main-page-cont .main-page-feed-cont .main-page-user-feed .main-page-user-feed-cont .user:hover {
  cursor: pointer;
}
body .main-page-cont .main-page-list-container {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  color: #cccccc;
  background-color: #161b22;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 1em;
}
body .main-page-cont .main-page-list-container .list-created-by .list-username {
  color: #fff;
}
body .main-page-cont .main-page-list-container .main-page-list-img-cont {
  display: flex;
}
body .main-page-cont .main-page-list-container .main-page-list-img-cont .main-page-list-img {
  width: 8em;
}
body .pw-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #cccccc;
  margin-top: 5em;
  width: 17em;
}
body .pw-cont .change-pw-btn {
  display: flex;
  margin: 0 auto;
}
body .account-cont {
  display: flex;
  flex-direction: column;
  width: 17em;
  margin-top: 10em;
  color: #cccccc;
}
body .account-cont .movie-cont {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 14em;
}
body .account-cont .movie-cont p {
  color: #efefef;
}
body .form-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
}
body .form-container .landing-font {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 5em;
  color: #cccccc;
  animation: fade 500ms 1 ease-in-out forwards;
}
body .form-container .landing-font .big-login-text {
  font-family: nunito, sans-serif;
  margin-bottom: 0;
  padding-bottom: 0;
}
body .form-container .landing-font .welcome-back {
  display: flex;
  justify-content: center;
  font-family: nunito, sans-serif;
  margin-top: -1em;
  padding-right: 0.5em;
}
body .form-container .landing-font .link {
  display: flex;
  align-items: center;
  font-family: nunito, sans-serif;
  margin-top: -0.75em;
  padding-bottom: 0.3em;
}
body .form-container form {
  display: flex;
  justify-content: center;
  height: 25em;
  gap: 1em;
  color: #efefef;
  background-color: #08090a;
  align-items: center;
  flex-direction: column;
  border-radius: 1em;
  width: 20em;
  animation: fade 500ms 1 ease-in-out forwards;
}
body .form-container form .inpt {
  width: 75%;
  align-self: center;
}
body .form-container form button {
  align-self: center;
  width: 5em;
}
body .form-container button {
  height: 2em;
}

.img-form-menu:hover {
  cursor: pointer;
  background-color: #3a3a3a;
}

.register-page {
  display: flex;
  justify-content: center;
  background-size: cover;
  height: 100vh;
  color: #cccccc;
}
.register-page .form-container {
  width: 63%;
  background-color: black;
  margin-right: 4.5rem;
  height: 32rem;
  margin-top: 2rem;
}
.register-page .form-container .registration-cont {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.register-page .form-container .registration-cont .landing-form > * {
  font-family: nunito, sans-serif;
  width: 20rem;
  animation: fade 500ms 1 ease-in-out forwards;
}

.movie-card-link-img {
  border: 1px solid transparent;
  transition: 0.25s border-color;
  user-select: none;
}
.movie-card-link-img:hover {
  border-color: #6d6d6d;
}

.svg:hover {
  cursor: pointer;
}

@media (max-width: 1920px) {
  body .cont .movie-main {
    height: 24em;
  }
}
@media (max-width: 2550px) {
  .form-container {
    height: 40rem;
  }
}
@media (max-width: 1130px) {
  .cont .movie-main img {
    width: auto;
  }
}
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*# sourceMappingURL=App.css.map */
