@import url(https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap)

$main: "Lato", sans-serif

@mixin flex()
    display: flex
    justify-content: center

*
    box-sizing: border-box
    font-family: $main

body
    margin: 0
    height: 100vh
    background-color: #18181b
    .nav
        display: flex
        justify-content: space-between
        padding: 1em
        background-color: #0f172a
        img
            height: 1.2em
            &:hover
                cursor: pointer
        input
            border-radius: 0.2em
        .search
            height: 1.2em
            margin-left: 0.5em
            margin-right: 0.5em
        a
            text-decoration: none
            color: white
    .main-container
        display: grid
        justify-content: center
        padding: 1em
        grid-template-columns: repeat(auto-fill, 15em)
        .movie-cont
            @include flex
            flex-direction: column
            width: 14em
            .poster
                height: 20em
            p
                color: white
    .form-container
        @include flex
        height: 100vh
        form
            @include flex
            gap: 1em
            text-align: center
            flex-direction: column
            width: 15em
            button
                align-self: center
                width: 5em
    .watch-container
        @include flex
        flex-direction: row
        height: 50%
        img
            height: 25em
            width: 20em
        iframe
            height: 40em
            width: 70em
            border: none
