.svg:hover {
  cursor: pointer;
}

* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  background: #14181c;
  min-height: 100vh;
}

.nav {
  display: flex;
  align-items: center;
  padding: 0.2em;
  background-color: #14181c;
  position: fixed;
  width: 100%;
  height: 2.3em;
  top: 0;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 5px;
}
.nav .home-link:active {
  height: 1.5em;
}
.nav .nav-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .notification-icon {
  fill: #f7f7f7;
  width: 65px;
}
.nav .notification-icon:active {
  transform: translateY(5%);
}
.nav .menu-list {
  color: rgb(102, 125, 147);
  background-color: #161b22;
}
.nav .avatar-container {
  display: flex;
  align-items: center;
  gap: 1em;
}
.nav img {
  height: 1.2em;
}
.nav img:hover {
  cursor: pointer;
}
.nav input {
  border-radius: 0.3em;
  border: none;
  height: 100%;
}
.nav .search {
  height: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.nav a {
  text-decoration: none;
  color: #efefef;
}

.user-search {
  display: grid;
  gap: 1rem;
  padding: 2rem;
}
.user-search .user-search-card {
  width: 40.5rem;
  margin-bottom: 1rem;
}
.user-search .user-search-card .user-search-card-content {
  background-color: #14181c;
}

.user-grid-text {
  width: 10rem;
  color: #cccccc;
}
.user-grid-text h5 {
  padding-left: 1rem;
}
.user-grid-text .div-wrapper {
  display: flex;
  padding-top: 1rem;
  width: 35rem;
}
.user-grid-text .div-wrapper .user-text {
  margin-right: 1rem;
  padding-left: 1rem;
}

.similar {
  display: grid;
  flex-direction: row;
  grid-template-columns: repeat(auto-fill, 10.2em);
  grid-template-rows: repeat(auto-fill, 15.9em);
}
.similar a {
  width: 10em;
}

.genres {
  margin-top: 0.5em;
  display: flex;
  gap: 1em;
  width: 10.3em;
  height: 2.2em;
  white-space: nowrap;
}
.genres .genre {
  margin-bottom: 0.2em;
  padding-bottom: 0.5em;
  background-color: #14181c;
  border-radius: 0.5rem;
  justify-content: center;
}
.genres .genre:hover {
  background-color: #171b20;
  cursor: pointer;
}

.cast-crew-cont {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.crew-cont, .actors {
  display: grid;
  grid-template-columns: repeat(2, 20em);
  grid-template-rows: repeat(auto-fit, 1fr);
  margin-top: 1em;
}
.crew-cont .crew, .crew-cont .actor-cont, .actors .crew, .actors .actor-cont {
  display: flex;
  margin-bottom: 1em;
}
.crew-cont .crew-avatar, .crew-cont .actor-avatar, .actors .crew-avatar, .actors .actor-avatar {
  border-radius: 0.5rem;
  height: 2.5em;
  width: 2.5em;
}

.pw-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #cccccc;
  margin-top: 5em;
  width: 17em;
}
.pw-cont .change-pw-btn {
  display: flex;
  margin: 0 auto;
}
.pw-cont .account-cont {
  display: flex;
  flex-direction: column;
  width: 17em;
  margin-top: 10em;
  color: #cccccc;
}
.pw-cont .account-cont .movie-cont {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 14em;
}
.pw-cont .account-cont .movie-cont p {
  color: #efefef;
}

.user-feed-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.user-feed-container .user-feed {
  color: #cccccc;
  padding-bottom: 0.5em;
}
.user-feed-container .user-feed-div {
  background-color: #161b22;
  width: 100%;
}
.user-feed-container .user-feed-div .user-feed-grid {
  background-color: #161b22;
  width: 100%;
}
.user-feed-container .user-feed-div .user-feed-grid .user-feed-mapped-grid {
  display: grid;
  grid-template-columns: 70% 30%;
  margin-bottom: 0.5rem;
}
.user-feed-container .user-feed-div .user-feed-link {
  color: #fff;
  text-decoration: none;
}
.user-feed-container .user-feed-div .user-feed-link .feed-cont {
  grid-column: 1;
  color: #efefef;
  width: 100%;
  height: 2.5em;
}
.user-feed-container .user-feed-div .user-feed-link .feed-cont .profile-link {
  color: #efefef;
  text-decoration: none;
}

.profiles-lists {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(auto-fill, 10em);
  gap: 4rem;
  margin-left: 0.5rem;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.profiles-lists .new-list-cont {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 25em;
  gap: 1em;
  background-color: #14181c;
  padding: 1%;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 0;
}
.profiles-lists .new-list-cont .list-img {
  width: 8.5em;
}
.profiles-lists .new-list-cont .pagination {
  padding-bottom: 1em;
  justify-content: center;
}

.profile-media-cont .profile-media-watched-watchlist {
  display: flex;
  width: 7rem;
}
.profile-media-cont .profile-media-grid-cont {
  min-height: 50vh;
  margin-bottom: 0.5rem;
  display: grid;
  background-color: #161b22;
  padding: 1rem;
  grid-template-columns: repeat(auto-fill, 8.5rem);
  grid-template-rows: repeat(auto-fill, 13.5rem);
}
.profile-media-cont .profile-media-grid-cont .movie-card-link {
  width: 8rem;
}
.profile-media-cont .profile-media-grid-cont .movie-card-link .movie-card-img {
  width: 8rem;
}

.main-container {
  display: grid;
  padding: 1em;
  margin-top: 4em;
  justify-content: center;
  -webkit-animation: fade 500ms 1 ease-in-out forwards;
          animation: fade 500ms 1 ease-in-out forwards;
}
.main-container .movie-card {
  padding: 0;
  margin-bottom: 1rem;
  height: 15.5rem;
}
.main-container .movie-card .movie-card-content {
  max-width: 45em;
  max-height: 30em;
  margin-bottom: 1em;
  -webkit-animation: fade 500ms 1 ease-in-out forwards;
          animation: fade 500ms 1 ease-in-out forwards;
}
.main-container .movie-card .poster {
  width: 15em;
}
.main-container .movie-card .movie-poster-link {
  width: 15rem;
}
.main-container .movie-card .movie-poster-link .movie-card-name {
  margin-top: 1em;
  font-weight: 400;
  margin-bottom: 1em;
}
.main-container .movie-card .movie-poster-link .card-grid .search-overview {
  padding: 1em;
  justify-content: center;
  color: #CCCCCC;
}

.cont {
  color: #efefef;
  background-color: #181e26;
  padding: 0 0;
  -webkit-animation: fade 500ms 1 ease-in-out forwards;
          animation: fade 500ms 1 ease-in-out forwards;
}
.cont .movie-main {
  display: flex;
  justify-content: center;
  height: 35em;
  overflow: hidden;
}
.cont .movie-main .movie-main-information {
  display: flex;
  width: 250em;
  flex-direction: column;
}
.cont .backdrop {
  display: flex;
  justify-self: center;
  width: 100%;
  height: 40em;
}
.cont .movie-info {
  display: flex;
}
.cont .movie-info .movie-main-information {
  justify-content: space-between;
}
.cont .movie-info img {
  margin-top: -2em;
  margin-left: 1.2em;
}
.cont .movie-info .movie-name {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-family: "Lato", sans-serif;
  margin-left: 1em;
  font-weight: 700;
  margin-top: 0.2em;
}
.cont .movie-info .movie-overview {
  font-family: "Lato", sans-serif;
  color: #d9d9d9;
  margin-left: 2.3em;
  margin-right: 2.3em;
}
.cont .movie-info .poster-main {
  height: 15rem;
  border-radius: 1rem;
}
.cont .movie-info .watched-watchlist {
  width: 25em;
  display: flex;
  margin-left: 0.6em;
  padding-bottom: 1em;
  color: #CCCCCC;
}

.profile-container {
  margin-top: 0;
  background-size: cover;
  margin-top: 4em;
  height: calc(100vh - 55px);
  -webkit-animation: fade 500ms 1 ease-in-out forwards;
          animation: fade 500ms 1 ease-in-out forwards;
}
.profile-container .profile-details {
  color: #cccccc;
}
.profile-container .profile-info-container {
  display: grid;
  grid-template-columns: 60% 40%;
  height: 57.7em;
  background-color: #181e26;
  padding-top: 1.5rem;
}
.profile-container .favorite-container {
  width: 25em;
}
.profile-container .favorite-container .favorite-container-card .profile-fav-link .profile-fav-img {
  height: 15.5rem;
  width: 10rem;
  padding-bottom: 1rem;
}
.profile-container .favorite-container .fav-text-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile-container .favorite-container .fav-text-cont .favorite-movies {
  padding-bottom: 0.5em;
  color: #cccccc;
}
.profile-container .favorite-container .fav-text-cont .fav-edit {
  align-self: center;
}
.profile-container .favorite-container .fav-text-cont .fav-edit:hover {
  cursor: pointer;
}
.profile-container .favorite-container .favorite-container-card {
  display: grid;
  grid-template-columns: repeat(auto-fill, 50%);
}
.profile-container .favorite-container .favorite-container-card .fav-edit-cont {
  margin-bottom: 1em;
}
.profile-container .favorite-container .favorite-container-card .fav-edit-cont .search-fav {
  position: absolute;
  transform: translate(-1em);
  background-color: #161b22;
  width: 14em;
  padding: 0.5em;
}
.profile-container .favorite-container .favorite-container-card .fav-edit-cont .fav-remove-icon {
  position: absolute;
  transform: translateX(5.5em);
  color: #fff;
  z-index: 1;
}
.profile-container .favorite-container .favorite-container-card .fav-edit-cont .fav-remove-icon:hover {
  cursor: pointer;
}
.profile-container .favorite-container .favorite-container-card .fav-edit-cont .fav-edit-card {
  height: 14.5rem;
  width: 10em;
}
.profile-container .favorite-container .favorite-container-card .fav-add-icon {
  position: absolute;
  transform: translate(2.3em, -6.6em);
  color: #fff;
  width: 2em;
  height: 3em;
}
.profile-container .favorite-container .favorite-container-card .fav-add-icon:hover {
  cursor: pointer;
}

.list-main-cont {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  height: 50em;
  width: 70rem;
  color: #cccccc;
  -webkit-animation: fade 500ms 1 ease-in-out forwards;
          animation: fade 500ms 1 ease-in-out forwards;
}
.list-main-cont .list-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.list-main-cont .list-grid-cont {
  display: grid;
  margin-top: 2rem;
  justify-content: center;
  background-color: #161b22;
  min-height: 55rem;
  gap: 1rem;
  padding: 1rem;
  grid-template-columns: repeat(auto-fill, 8rem);
  grid-template-rows: repeat(auto-fill, 12.5rem);
}

.person-cont {
  margin-top: 5rem;
  color: #cccccc;
  background-color: #181e26;
  padding: 1rem;
}
.person-cont .person-cards {
  display: grid;
  grid-template-columns: repeat(5, 13rem);
  background-color: #161b22;
  justify-content: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.register-page {
  display: flex;
  justify-content: center;
  background-size: cover;
  height: 100vh;
  color: #cccccc;
}
.register-page .form-container {
  width: 65%;
  background-color: black;
  margin-right: 4.5rem;
  height: 32rem;
  margin-top: 0rem;
}
.register-page .form-container .registration-cont {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.register-page .form-container .registration-cont .landing-form > * {
  font-family: nunito, sans-serif;
  width: 20rem;
  -webkit-animation: fade 500ms 1 ease-in-out forwards;
          animation: fade 500ms 1 ease-in-out forwards;
}

.form-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
}
.form-container .landing-font {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 5em;
  color: #cccccc;
  -webkit-animation: fade 500ms 1 ease-in-out forwards;
          animation: fade 500ms 1 ease-in-out forwards;
}
.form-container .big-login-text {
  font-family: nunito, sans-serif;
  margin-bottom: 0;
  padding-bottom: 0;
}
.form-container .welcome-back {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: nunito, sans-serif;
  padding-right: 0.5em;
}
.form-container .link {
  display: flex;
  align-items: center;
}
.form-container form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 25em;
  gap: 1em;
  color: #efefef;
  background-color: #08090a;
  align-items: center;
  border-radius: 1em;
  width: 20em;
  -webkit-animation: fade 500ms 1 ease-in-out forwards;
          animation: fade 500ms 1 ease-in-out forwards;
}
.form-container form .inpt {
  width: 75%;
  align-self: center;
}
.form-container form button {
  align-self: center;
  width: 5em;
}
.form-container button {
  height: 2em;
}

body .main-page-cont {
  display: grid;
  height: 90vh;
  justify-content: center;
  grid-template-columns: 60% 40%;
  grid-template-rows: repeat(auto-fill, 1fr);
  color: #cccccc;
  -webkit-animation: fade 500ms 1 ease-in-out forwards;
          animation: fade 500ms 1 ease-in-out forwards;
}
body .main-page-cont .main-page-feed-cont {
  grid-row: 1;
  grid-column: 2;
}
body .main-page-cont .main-page-feed-cont .main-page-user-feed {
  grid-column: 1/2;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #161b22;
  width: 35rem;
  white-space: nowrap;
}
body .main-page-cont .main-page-feed-cont .main-page-user-feed .main-page-user-feed-cont {
  display: grid;
  grid-template-columns: 70% 30%;
  margin-bottom: 0.5em;
  color: #cccccc;
}
body .main-page-cont .main-page-feed-cont .main-page-user-feed .main-page-user-feed-cont .user {
  color: #fff;
}
body .main-page-cont .main-page-feed-cont .main-page-user-feed .main-page-user-feed-cont .user:hover {
  cursor: pointer;
}
body .main-page-cont .main-page-feed-cont .main-page-list-container {
  gap: 0.3rem;
  color: #cccccc;
  background-color: #161b22;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 1em;
}
body .main-page-cont .main-page-feed-cont .main-page-list-container .list-created-by .list-username {
  color: #fff;
}
body .main-page-cont .main-page-feed-cont .main-page-list-container .main-page-list-img-cont {
  display: flex;
}
body .main-page-cont .main-page-feed-cont .main-page-list-container .main-page-list-img-cont .main-page-list-img {
  width: 8em;
}/*# sourceMappingURL=index.css.map */